/node_modules
/vendor
/.idea
/.vscode
.env
.env.*
!.env.example
.DS_Store
storage/*.key
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/*
!storage/logs/.gitkeep
/public/hot
# /public/storage     # Comment ini jika perlu
# public/build        # Comment ini dulu untuk test
# public/css/app.css  # HAPUS atau COMMENT baris ini
# public/js/app.js    # HAPUS atau COMMENT baris ini
# /public/assets      # HAPUS atau COMMENT baris ini
/bootstrap/cache/*
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
.phpunit.cache
