/node_modules
/vendor
/.idea
/.vscode
.env
.env.*
!.env.example
.DS_Store
storage/*.key
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/*
!storage/logs/.gitkeep
/public/hot
/public/storage
public/build
public/css/app.css
public/js/app.js
/public/assets
/bootstrap/cache/*
*.log
npm-debug.log
yarn-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
.phpunit.cache